#terminal {
  background    :  black;
  font-size     :  14px;
  font-family   :  Terminus,Consolas,Profont,Monaco,Inconsolata,Inconsolata-g,
      Unifont,Lime,"ClearlyU PUA",Clean,"DejaVu Sans Mono","Lucida Console",
      "Bitstream Vera Sans Mono",Freemono,"Liberation Mono",Dina,Anka,Droid Sans Mono,
      Anonymous Pro,Proggy fonts,Envy Code R,Gamow,Courier,"Courier New",Terminal,monospace;

  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 50% ;

}

#terminal .terminal {
  padding-left: 10px;
  padding-top: 5px;
}

#editor { 
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
}

#test-font-width {
  position   :  absolute;
  visibility :  hidden;
  height     :  auto;
  width      :  auto;
  font-size  :  14px;
  font-family:  Terminus,Consolas,Profont,Monaco,Inconsolata,Inconsolata-g,
      Unifont,Lime,"ClearlyU PUA",Clean,"DejaVu Sans Mono","Lucida Console",
      "Bitstream Vera Sans Mono",Freemono,"Liberation Mono",Dina,Anka,Droid Sans Mono,
      Anonymous Pro,Proggy fonts,Envy Code R,Gamow,Courier,"Courier New",Terminal,monospace;
}
