#terminal { 
  width         :  1000px;
  height        :  800px;
  border        :  2px solid black;
  border-radius :  5px;
  margin        :  0;
  font-family   :  Menlo;
  font-size     :  16px;
  line-height   :  20px;
}

#terminal,
#terminal .terminal {
  background       :  #040322;
  background-color :  #040322 !important
}
