/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style */

body {
  font-size: 15px;
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #D1D1D1;
}

a {
  color: #63a52a;
  text-decoration: none;
  -webkit-transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: underline;
  color: #90D355;
}

h1.title {
  margin: 30px 20px 10px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  font-family:Georgia, serif;
  text-align: center;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#container {
  border: 1px solid #2a2a2a;
  background: #ddd url(../images/pattern.png);
  box-shadow: 0 0 5px #b1b1b1;
}

.tagline {
  color: #fff;
  font-size: 17px;
  height: 30px;
}
.tagline h2 {
  float: left; 
  margin-left: 20px;
}
.tagline p {
  float: right;
  display:block;
  margin-right: 200px;
}
.tagline .code {
  width: 180px;
  text-indent: 40px;
  float: right;
  display: block;
}

#main {
}

a.code {
  background: transparent url(../images/code.png) no-repeat 0 2px;
  width: 30px;
  height: 21px;
  display: block;
  opacity: 0.8;
  display: inline-block;
  text-indent: -10000px;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
  -webkit-transition: opacity ease-in-out 0.3s;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
}

footer .owner {
  background: #222;
  border: 5px solid #444;
  padding: 5px 15px;
  margin: -59px -10px;
  color: #d6d6d6;
}

footer .owner .avatar {
  background-color: #666;
  display: block;
  margin: -28px 10px 0 0;
  width: 60px;
  float: left;
}

footer .owner img {
  display: block;
  border: 1px solid #2a2a2a;
  margin: 5px;
}

footer .owner p {
  font-family:Georgia, serif;
}

footer .owner p a {
  font-size: 16px;
  font-style: italic;
}

/* terminal and editor */
#terminal {
  background    :  black;
  font-size     :  14px;
  font-family   :  Terminus,Consolas,Profont,Monaco,Inconsolata,Inconsolata-g,
      Unifont,Lime,"ClearlyU PUA",Clean,"DejaVu Sans Mono","Lucida Console",
      "Bitstream Vera Sans Mono",Freemono,"Liberation Mono",Dina,Anka,Droid Sans Mono,
      Anonymous Pro,Proggy fonts,Envy Code R,Gamow,Courier,"Courier New",Terminal,monospace;

  position: absolute;
  top: 32px;
  right: 0;
  bottom: 44px;
  left: 50%;
  width: 50% ;

  padding-left: 10px;
}

#editor { 
  position: absolute;
  top: 32px;
  right: 0;
  bottom: 44px;
  left: 0;
  width: 50%;
  z-index: -1;
}
